<!DOCTYPE html>
<html ng-app="chat">
<head>
  <title>AngularFire Chat e2e Test</title>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.1.1/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
</head>

<body ng-controller="ChatCtrl">
<!-- Clear Firebase button -->
<button id="clearRef" ng-click="clearRef()">Clear Ref</button>

<!-- Destroy button -->
<button id="destroyButton" ng-click="destroy()">Destroy AngularFire bindings</button>

<!-- Messages list -->
<div id="messagesList">
  <div class="message" ng-cloak ng-repeat="message in messages">
    <em>{{ message.from }}: </em>
    <span class="content">{{ message.content }}</span>
  </div>
  Message Count: <span id="messagesCount">{{ chat.numMessages ? chat.numMessages : 0 }}</span>
</div>

<!-- Add message form -->
<form ng-submit="addMessage()">
  <input id="message" type="text" ng-model="message" placeholder="Message..." autofocus>
  <input id="submit" type="submit" value="Submit">
</form>

<!-- Custom JS -->
<script src="chat.js" defer></script>
</body>
</html>